.cart {
    display: flex;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    padding: 24px 16px 16px;
    width: fit-content;
}

.info {
    min-width: 228px;
}

.back {
    margin-bottom: 36px;
}

.back__link {
    padding: 5px 31px;
}

.picture {
    width:26vw;
    max-width: 200px;
    margin-right: 24px;
}


.picture__img {
    max-width: 100%;
    width: 100%;
}

.char__list {
    align-items: flex-start;
    max-height: 140px;
    flex-direction: column;
    align-content: flex-start;
    margin-bottom: 20px;
}

.char__item-name {
    margin-bottom: 18px;
}

.char__sub {
    color: #7E7E7E;
    font-size: 12px;
    font-weight: 500;
}

.char__val {
    font-size: 21px;
    font-weight: 600;
}

.x-char__item {
    margin: 0 16px 13px 0;
    &:nth-child(n+5) {
        margin-right: 0;
    }
    &:nth-child(even) {
        margin-bottom: 0;
    }
}

.x-abilities__item {
    margin: 0 8px 8px 0;
    &:last-child {
        margin-right: 0;
    }
}
